<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    <!-- 100MB in kilobytes, default is 4096 or 4MB-->
    <httpRuntime targetFramework="4.5" maxRequestLength="102400"/>
    
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SendEmail" value="true"/>
  </appSettings>


  <connectionStrings>
    <add name="A2RDB" connectionString="data source=.; database=A2RDB; integrated security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <!--<modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>-->

    <security>
      <requestFiltering>
        <!-- 100MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>


    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="13" />
      <error statusCode="404"
             subStatusCode="13"
             prefixLanguageFilePath=""
             path="/ErrorsUI/LargeUploadError.aspx"
             responseMode="Redirect"
             />
    </httpErrors>

  </system.webServer>

</configuration>
